@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&family=Varela+Round&display=swap');


@keyframes fadeoutlock {
  from   {bottom: 0; filter: opacity(100%);}
  to  {bottom: 100vh; filter: opacity(0%);}
}

@keyframes fadein {
  from   {top: 100vh; filter: opacity(0%);}
  to  {top: 0vh; filter: opacity(100%);}
}
@keyframes animnotif {
  from {
    right: -220px; 
    filter: opacity(0%);
  }
  to {
    right: 0; 
    filter: opacity(100%);
  }
}

h1 {
  font-family: 'Varela Round', sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  font-family: "Roboto Flex", sans-serif;
}

.clockwork-notification {
  z-index: 99;
  position: fixed;
  width: 200px;
  background-color: #222;
  bottom: 48px;
  right: 0;
  color: white;
  padding: 4px;
  box-sizing: border-box;
  padding-bottom: 1px;  
  filter: opacity(100%);
  animation-name: animnotif;
  animation-duration: 0.2s;
  transition: 0.2s;
}
.clockwork-notification.hide {
  transition: 0.2s;
  right: -220px; 
  filter: opacity(0%);
}
#clockwork-notification-panel {
  z-index: 100;
  position: fixed;
  width: 200px;
  max-height: 300px;
  min-height: 128px;
  background-color: #222;
  bottom: 48px;
  right: -200px;
  color: white;
  padding: 4px;
  box-sizing: border-box;
  padding-bottom: 1px; 
  filter: opacity(0%);
  transition: 0.2s;
}
#clockwork-notification-panel.visible {
  right: 0px;
  filter: opacity(100%);
  transition: 0.2s;  
}

#clockwork-notification-panel > t {
  font-weight: 1000;
  border-bottom: 1px solid gray;
  display: block;
  width: 100%;
}
#clockwork-notification-items {
  overflow-y: auto;
  display: block;
  max-height: 50vh;
}

#clockwork-notification-items > div.hide {
  filter: opacity(100%);
  transition: 0.2s;  
}

#clockwork-notification-items > div.hide {
  filter: opacity(0%);
  transition: 0.2s;  
}

#clockwork-notification-items > div > b > img, #clockwork-notification-panel > t > img {
  height: 1em;
  float: right;
}

#clockwork-notification-items > div > b {
  display: block;
  width: 100%;
}

btn, select {
  cursor: pointer;
  display: inline-block;
  user-select: none;
  background-color: #222;
  color: #fff;
  padding: 4px 4px;
  border-radius: 4px;
}
progress {
  width: 80%;
  height: 10px;
  border-radius: 2px;
}
progress::-webkit-progress-bar {
  background-color: #111;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress::-webkit-progress-value {
  background-color: #f00;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
#contextmenu {
  position: fixed;
  width: 120px;
  background-color: #111;
  z-index: 999;
  color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  filter: opacity(0%);
  transition: 0.2s;  
}
#contextmenu.visible {
  filter: opacity(100%);
  transition: 0.2s;  
}
#contextmenu>btn {
  width: 100%;
  transition: 0.2s;
  border-radius: 5px;
  padding: 0;
  background-color: #222;
}
.clockwork-panel {
  color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0vh;
  filter: opacity(100%);
}
.clockwork-panel-fadeout{
  z-index: 99;
  animation-name: fadeoutlock;
  animation-duration: 0.3s;
  bottom: 100vh;
  background-color: black;
}
.clockwork-panel-fadein{
  z-index: 99;
  animation-name: fadein;
  animation-duration: 0.3s;
  top: 0vh;
  background-color: black;
}
.clockwork-panel > div {
  text-align: center;
  position: fixed;
  font-size: 24px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}
#contextmenu > btn:hover {
  background-color: #444;
  transition: 0.2s;
}

#apppanel {
  width: 100%; 
  height: calc(100vh - 48px);
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
}

input,select {
  border: none;
  font-family: "Roboto Flex", sans-serif;
  background-color: #222;
  padding: 1px 2px;
}

input {
  color: #fff;
  text-align: center;
  max-width: 120px;
  font-family: "Roboto Flex", sans-serif;
  border-radius: 4px;
}

.clockwork-panel > div > input {
  font-size: 30px;
}

.app {
  width: 100%; 
  height: calc(100vh - 48px);
  background-color: black;
  position: fixed;
  top: 0;
  color: white;
  display: none;
  margin: 0px;
  padding: 0px;
}
.appopen {
  display: block;
}
btn>.appbtnopen {
  border-bottom: 6px solid red;
}
#appsidebar {
  width: 256px;
  height: 48px;
  background-color: #111;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0px;
  display: flex;
  justify-content: right;
}
#appsidebar > div {
  font-size: 21px;
  height: 24px;
  color: white;
  margin-left: 0;
  margin-right: 4px;
  user-select: none;
} 
#appsidebar > btn {
  width: 24px;
  height: 24px;
  color: white;
  text-align: center;
  vertical-align: middle;
  transition: 0.2s;
  user-select: none;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0;
  margin-left: 0;
  margin-right: 4px;
}
#appsidebar > btn:hover {
  background-color: #444;
}
#appsidebar > btn > img {
  width: 24px;
  height: 24px;
  filter: none;
  transition: 0.2s;
  border-radius: 5px;
}

#appbar {
  width: calc(100% - 256px);
  height: 48px;
  background-color: #111;
  position: fixed;
  bottom: 0;
  font-size: 0px;
  display: flex;
  overflow-y: auto;
}

#appbar > btn {
  width: 48px;
  height: 48px;
  background-color: #222;
  color: white;
  text-align: center;
  word-break: break-all;
  vertical-align: middle;
  transition: 0.2s;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  border-radius: 0;
  margin-left: 0;
  margin-right: 4px;
}
#appbar > btn > img {
  width: 48px;
  height: 48px;
  filter: none;
  transition: 0.2s;
  border-radius: 5px;
}
#appbar > btn:hover > img {
  transition: 0.2s;
  filter: opacity(80%);
}
#appbar > btn:hover {
  background-color: #888;
  transition: 0.2s;
}
iframe {
  border: none;
  background-color: white;
}

a {
  color: red;
}

a:link {
  color: red;
}

a:hover {
  color: #f66
}

.mngappspnl > summary > img {
  width: 32px; 
  height: 32px;
  vertical-align: middle;
}
.mngappspnl > summary > span, .mngthmspnl > summary > span {
  font-size: 20px;
}

.finder {
  position: fixed;
  left: 50vw;
  bottom: 10px;
  padding: 5px;
  transform: translateX(-50%);
  border: 1px solid gray;
  background-color: #222;
  border-radius: 8px;
  color: white;
  width: 500px;
  max-width: 50vw;
  text-align: left;
  z-index: 99999;
  filter: opacity(100%);
  transition: 0.2s;
}
.finder.invisible {
  filter: opacity(0%);
  transition: 0.2s;
}
.finder:focus {
  outline: none;
}
.finder-box.invisible {
  filter: opacity(0%);
  transition: 0.2s;
}
.finder-box {
  position: fixed;
  left: 50vw;
  bottom: 36px;
  height: 160px;
  transform: translateX(-50%);
  border: 1px solid gray;
  background-color: #222;
  border-radius: 8px 8px 0 0;
  color: white;
  width: 484px;
  max-width: calc(50vw - 32px);
  text-align: left;
  z-index: 99999;
  overflow-y: auto;
  overflow-x: hidden;
  filter: opacity(100%);
  transition: 0.2s;
}

#apppanel\:sys_settings {
  background-color: #111;
}

#apppanel\:sys_settings .left {
  position: fixed;
  width: 16vw;
  border-right: 1px gray solid;
  height: 100%;
  min-width: 160px;
  background-color: #222;
}

#apppanel\:sys_settings .left .selections {
  border-top: 1px gray solid;
}

#apppanel\:sys_settings .left .selections div {
  border-bottom: 1px gray solid;
  height: 48px;
  position: relative;
  background-color: #222;
  transition: 0.2s;
}

#apppanel\:sys_settings .left .selections div:hover {
  background-color: #444;
  transition: 0.2s;
}

#apppanel\:sys_settings .left .selections div img {
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#apppanel\:sys_settings .left .selections div span {
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 38px;
  width: calc(100% - 38px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.finder-box > div {
  padding: 5px;
  border-radius: 0;
  border-bottom: 1px solid gray;
  transition: 0.2s;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.finder-box > div > img {
  height: 20px;
  width: 20px;
  float: left;
}
.finder-box > div.best {
  border-radius: 8px 8px 0px 0px;
  background-color: #444;
  font-size: 20px;
}
.finder-box > div.best > img {
  width: 24px; height: 24px;
}
.finder-box > div:last-child {
  border-bottom: none;
}
.finder-box > div:hover {
  background-color: gray;
  transition: 0.2s;
}